<center>
<br><h1>Profile</h1></br>

<p><b>First Name:</b> <%= current_user.first_name %> </p>
<p><b>Last Name:</b> <%= current_user.last_name %> </p>
<p><b>Email:</b> <%= current_user.email %> </p>

<h4>
Edit your information <b><i><%= link_to 'here', edit_user_path(current_user) %></i></b>
</h4>

<br></br>

<p><h3>Twitter Mentions</h3></p>
<p>
<% if @mentions %>
  <% @mentions.each do |m| %>
  <ul><b><%="#{m.user.screen_name}:"%></b> <%="#{m.text}" %></ul>
  <% end %>
<% end %>
</p>


<p><h3>Twitter Timeline</h3></p>
<p>
<% if @user_timeline %>
  <% @user_timeline.each do |m| %>
  <ul><b><%="#{m.user.screen_name}:"%></b> <%="#{m.text}" %></ul>
  <% end %>
<% end %>
</p>


<p><h3>Twitter Direct Messages</h3></p>
<p>
<% if @direct_messages %>
  <% @direct_messages.each do |m| %>
  <ul><%= "#{m.attrs[:sender_screen_name]}: #{m.text}" %></ul>
  <% end %>
<% end %>
</p>

<br></br>


<% if @facebook_profile %>
  <%= @facebook_profile.inspect %>
  <% end %>


<h1>Weather Report</h1>

<h3>Weather in Cairo</h3>

<div class='report'>
<ol>
  <li>The current temperature is <%= @weather_report.current_temp %> C </li>
  <li>The high for today is <%= @weather_report.max_temp %> C </li>
  <li>The low for the day is <%= @weather_report.min_temp %> C </li>
  <li>It wll be  <%= @weather_report.cloud_cover %> today</li>
</ol>
</div>

<!-- <p>
  The complete information that we recieved is <%= @weather_report.complete_info %>
</p> -->

<!--

<br><p><h1>Edit Applications</h1></p></br>



<br><p><b>Add a widget</b></p>
<p> * DROP DOWN WILL APPEAR * </p></br>



<br><p><b>Remove a widget</b></p>
<p> * DROP DOWN WILL APPEAR * </p></br>

 -->



<b><%= link_to 'Back', root_path %></b>
</center>