<center>
<br><h1><u>Profile</u></h1></br>

  <div class="headings">
    <p><b>First Name:</b> <%= current_user.first_name %> </p>
    <p><b>Last Name:</b> <%= current_user.last_name %> </p>
    <p><b>Email:</b> <%= current_user.email %> </p>

    <h4>
    Edit your information <b><i><%= link_to 'here', edit_user_path(current_user) %></i></b>
    </h4>
  </div>

</br>


  <div class="twitter-container box">
    <div id="mentions">

      </p><p class="tweet"><h3><u>Twitter Mentions</u></h3></p>

      <p class="tweet">
        <% if @mentions %>
          <% @mentions.each do |m| %>
          <ul class="message"><b><%="#{m.user.screen_name}:"%></b> <%="#{m.text}" %></ul>
          <% end %>
        <% end %>
      </p>
    </div>

    <div id="timeline">
      <p><h3><u>Twitter Timeline</u></h3></p>
      <p class="tweet">
      <% if @user_timeline %>
        <% @user_timeline.each do |m| %>
        <ul class="message"><b><%="#{m.user.screen_name}:"%></b> <%="#{m.text}" %></ul>
        <% end %>
      <% end %>
      </p>
    </div>


    <div id="dm">
      <p><h3><u>Twitter Direct Messages</u></h3></p>
      <p class="tweet">
        <% if @direct_messages %>
          <% @direct_messages.each do |m| %>
          <ul class="message"><b><%= "#{m.attrs[:sender_screen_name]}:"%></b> <%="#{m.text}"%></ul>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class="twitter-btn-container">
      <div id="tlbutton" class="btn-twitter">
        timeline
      </div>
      <div id="menbutton" class="btn-twitter">
        mentions
      </div>

      <div id="notibutton" class="btn-twitter">
        notifications
      </div>
    </div>
  </div>


  <div id="gmail" class="box">
    <p><h3><u><%= link_to 'Gmail', 'https://mail.google.com/mail/u/0/#inbox' %></u></h3></p>


    <ul class="message">
      <% current_user.gmail_message(@thread_id).each do |option| %>
         <li> <%= link_to option.payload.headers.find { |header| header.name == 'From'}.value, "https://mail.google.com/mail/u/0/#inbox/#{option.id}", target: "_blank" %> </li>
      <% end %>
    </ul>
  </div>

  <div id="weather" class='box'>
    <p><h3><u>Weather Report</u></h3></p>

    <h4>Weather in <%= @weather_report.city_name %></h4>

    <p>The current temperature is <b><%= @weather_report.current_temp %> C </b></p>
    <p>The high for today is <b><%= @weather_report.max_temp %> C </b></p>
    <p>The low for the day is <b><%= @weather_report.min_temp %> C </b></p>
    <p>It will be <b><%= @weather_report.cloud_cover %></b> today</p>
  </div>

  <div class="box">
    <p><h3><u>Facebook</u></h3></p>
    <% if @facebook_profile %>
      <%= @facebook_profile.inspect %>
    <% end %>

    <% if @feed %>
      <% @feed.each do |item| %>
        <p><%= item["from"]["name"] %></p>
        <p><%= item["message"] %></p>
         <p><%= item["picture"] %></p>
      <% end %>
    <% end %>
  </div>

<b><%= link_to 'Back', root_path %></b>
</center>